.component-heading { 
  background: none;
  padding: $padding;
  margin: 0 0 2px;
  @include breakpoint($bp-small-desktop) {
    @include span(10);
    @include post(2);
  }
  h2,h3,h4 {
    font-family: 'SC AkkuratLight';
    margin: 0; 
  }
}

.component-html {

}

.component-image {

}

.component-long-text { 
  background: $white;
  padding: $padding;
  margin: 0 0 $margin*4;
  @include breakpoint($bp-small-desktop) {
    @include span(10);
    @include post(2);
  }
  p {
    &:first-of-type { margin-top: 0; }
    &:last-of-type { margin-bottom: 0; }
  }
}

.component-page-element-spec {
  
}